[Unit]
Description=Battery Charging/Discharging and Low Battery Notifications.

[Service]
Type=simple
ExecStart=/usr/local/bin/battery_status

[Install]
WantedBy=default.target
