* {
    border: none;
    border-radius: 0px;
    font-family: "Iosevka Nerd Font";
    font-size: 13px;
    min-height: 0;
    color: #ebdbb2;
}

window#waybar {
    border-bottom-style: inset;
    background: rgba(43, 48, 59, 0);
}

#workspaces, #clock, #custom-music, #window, #network, #battery, #pulseaudio, #mode, #backlight { 
    font-weight: 800;
}

/* Workspace Buttons */
#workspaces button label{
    color: #689d6a;
}
#workspaces button.focused label {
    color: #00FFFF;
}
#workspaces button.focused {
    background: rgba(43, 48, 59, 0); 
}
#workspaces button.urgent {
    background: #cc241d;
}

#mode {
    background-color: rgba(43, 48, 59, 0);
    color: #00FFFF;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #tray, #mode, #idle_inhibitor, #backlight {
    padding: 0 5px;
    margin: 0 10px;
}


#idle_inhibitor {
    padding: 0 10px;
}

#idle_inhibitor.activated {
    background-color: #689d6a;
    color: #1d2021;
}


#custom-music {
    color: #b8bb26;
    margin: 0 15px;
    padding: 0 20px;
    border-bottom: 4px solid #b8bb26;
}

#clock {
    margin: 0;
    color: #fabd2f;
}


#network.disconnected {
    color: #cc241d;
}

#network {
    color: #ff5b00;
}

#pulseaudio.muted {
    color: #cc241d;
}

#pulseaudio {
    color: #ff6ec7;
}

#battery.full {
    color: #7CFC00;
}

#battery.charging {
    color: #00FF7F;
}

#battery {
    color: #00FA9A;
}

#backlight {
    color: #ffb300;
}

#window {
    padding: 5px 5px;
    color: #a8ff04;
}
