* {
    background-color:	#1d2021;
    text-color:         #fabd2f;
    font:            	"Iosevka Nerd Font 9";
}

#window {
    width:      		301px;
    y-offset: 			-8%;
    padding:    		30px;
    border-color:       #fabd2f;
    border:             1;
}
